
    /* CSS样式将在下一部分定义 */
.container {
    display: flex;
    height: 100vh;
}

.left-column, .center-column, .right-column {
    flex: 1;
    padding: 15px;
    opacity: 0.9;
    overflow-y: auto; /* 添加滚动条 */
}

.left-column {
    background-color: rgb(255, 255, 255);
}

.center-column {
    background-color: rgba(225, 240, 241, 0);
    flex: 5; /* 中间栏比较宽 */
}

.right-column {
    background-color: rgb(255, 255, 255);
}

img {
            width: 90%;    /* 设置图片宽度为容器的90% */
            height: auto;   /* 设置图片高度自动，保持图片比例 */
        }
        