body {
    background-color: rgb(104, 219, 219);
    font-family: Arial, sans-serif; /* 这将设置默认的字体，但你的特定字体（如等线）仍会优先 */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 2.5em; /* 增大标题字体 */
    margin-top: 20px;
    margin-bottom: 10px;
}

div, p {
    text-align: center;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #333; /* 默认颜色为深灰色 */
    transition: color 0.3s ease; /* 过渡效果 */
}

a:hover {
    color: #007BFF; /* 当鼠标悬停时的颜色 */
}

.centered {
    text-align: center;
}

.text-style {
    font-family: 等线, Arial, sans-serif; /* 如果等线字体不可用，将使用Arial或其他无衬线字体 */
    font-weight: bold;
    font-size: 1.5em;
}

#members, #history {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
